@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Lato", sans-serif; */
}

/* #392e81 */

body {
  background-color: #171739;
  color: #fff;
}

button:focus,
a:focus,
form:focus {
  outline: 3px solid #7055d8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 60px 0;
}

nav.container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 4px;
  position: relative;
}

.nav-links a:hover {
  color: #7055d8;
}

/* .nav-links a::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #7055d8;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
} */

.hamburger {
  display: none;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.introduction h1,
.introduction p {
  max-width: 450px;
  margin: 0 auto;
}

.introduction h1 {
  font-size: 2.5rem;
}

.introduction p {
  padding: 15px 0;
  color: #585c81;
  line-height: 1.4;
}

form.contact-us {
  padding: 5px;
  background: #fefefe;
  border-radius: 3px;
  display: flex;
}

form.contact-us input {
  flex: 1;
  border: none;
  outline: none;
}

form.contact-us button {
  background-color: #7055d8;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

h2.landmark {
  font-size: 1rem;
  color: #744559;
}

h3.secondary-heading {
  padding: 5px 0;
  font-size: 1.5rem;
}

p.transluscent-paragraph {
  color: #585c81;
  padding: 5px 0;
  max-width: 300px;
  margin: 0 auto;
}

.features__card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 0;
}

.features__card {
  padding: 30px;
  border: 1px solid #1c1c3e;
  border-radius: 4px;
}

.features__card:hover {
  background: #1d1f4f;
  cursor: pointer;
}

.features__card h4 {
  padding: 15px 0;
}

.brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.brand__1 {
  background: #3478fd;
}
.brand__2 {
  background: #6d4ed7;
}
.brand__3 {
  background: #ffbe32;
}
.brand__4 {
  background: #2bc549;
}

button.free-trial {
  background-color: #7055d8;
  color: #fff;
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px 0;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.works__content-grid {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
  gap: 30px;
}

.works__content-grid h3 {
  font-size: 1.5rem;
}

.works__content-grid p {
  max-width: 350px;
  padding: 10px 0;
}

.order {
  order: 1;
}

.pricing__card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
  padding: 30px 0 0;
}

.pricing__card {
  padding: 30px;
  border: 5px solid transparent;
  border-radius: 10px;
  background: #171238;
  text-decoration: none;
  color: #fff;
  outline: none;
}

.pricing__card:hover,
.pricing__card:focus {
  border: 5px solid #7055d8;
  cursor: pointer;
}

.card-header {
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

h4.offer {
  color: #7055d8;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.pricing {
  display: flex;
  align-items: center;
  width: 100%;
}

.pricing span {
  font-size: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

img.dollar {
  width: 15px;
}

.pricing small {
  color: #7055d8;
}

.card-body {
  padding: 15px 0;
}

.fade {
  opacity:0.6;
} 

.pricing__card li {
  list-style: none;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.pricing__card li img {
  padding-right: 10px;
}

.card-btn {
  padding: 12px 15px;
  background: #1d1f4f;
  color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-btn:hover {
  background: #7055d8;
}

.card-btn i {
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

/* tablet */
@media (max-width: 950px) {
  .nav-links {
    width: 80%;
  }

  .features__card-grid,
  .pricing__card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .works__content-grid img {
    width: 100%;
  }
}

/* mobile landscape */
@media (max-width: 698px) {
  nav.container {
    background: #fdfdfd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #1c1c3e;
    flex-direction: column;
    justify-content: center;
  }

  nav.active {
    padding: 10px 30px;
  }

  .nav-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    align-items: center;
    flex-direction: column;
    width: 100%;
    order: 3;
    height: 0;
    overflow-y: hidden;
  }

  .nav-links.active {
    height: initial;
    overflow-y: none;
  }

  .nav-links li {
    width: 100%;
    margin: 10px 0;
    border-bottom: 2px solid #6d4ed7;
    text-align: left;
    padding: 5px 0;
  }

  .nav-links a {
    padding: 0;
    color: #1c1c3e;
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 5px 0;
  }

  .hamburger {
    display: initial;
    padding: 5px 8px;
    background: #1c1c3e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .hamburger img {
    width: 35px;
  }

  .features__card-grid,
  .pricing__card-grid,
  .works__content-grid {
    grid-template-columns: 1fr;
  }

  .features__card {
    text-align: left;
  }

  .brand {
    max-width: none;
    margin: 0;
  }

  .works__content-grid img {
    width: 100%;
  }
}

/* mobile protrait */
@media (max-width: 515px) {
  section {
    padding: 40px 0;
  }
  .container {
    padding: 0 15px;
  }
  .features__card-grid,
  .works__content-grid,
  .pricing__card-grid {
    gap: 15px;
    padding: 15px 0;
  }

  .features__card {
    padding: 15px;
  }

  .works__content-grid p {
    max-width: none;
    margin: 0;
  }

  .order {
    order: 0;
  }

  .pricing__card {
    padding: 15px;
  }

  .card-header {
    padding-bottom: 10px;
  }
}

@media (max-width: 512px) {
  nav.active {
    padding: 15px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1500px;
  }
}
